body {
  background: #000000;
}

h1 {
  color: #3f784c;
  font-family: "Roboto", sans-serif;
}

.counterDiv {
  background: #ccc9a1;
  padding: 30px 40px;
  border-radius: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

button {
  border-radius: 20px;
  font-family: "Roboto", sans-serif;
  background: #3f784c;
  color: #f0ffce;
  font-size: 20px;
}

#buttonOne {
  float: left;
}

#buttonTwo {
  float: right;
}
